# Data Science Tools and Ecosystem

In this notebook, Data Science Tool and Ecosystem are summarized

Some of the popular languages that Data Scientist use are:
    
    1. Java
    2. C++
    3. Python

Some of the commnoly used libraries used by Data Scientists include:
    
    1. Pandas
    2. Scipy
    3. Numpy

| Data Science Tools |
|--------------|
| Apache Hadoop |
| Apache Spark |
| SQL |

### Below are few example of evaluating exprestion in python

This is a simple arthimetic expression to multiply the add intergers

In [9]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [10]:
200/60

3.3333333333333335

**Objective:**

- Python
- Scala
- Java 
- C++
- SQL

## Author 
Jay Shetty